*.zip
*.json
Corte 1/lab_busqueda_sagredov_jeserna/main
*.o
html
latex
*.out
*.pdf
Corte 1/scheduler_sagredov_jeserna/test/fifo.png
Corte 1/scheduler_sagredov_jeserna/main
*.gpi
Corte 1/scheduler_sagredov_jeserna/main
*.gpi
Corte 1/scheduler_sagredov_jeserna/main
