*.zip
Corte 1/lab_busqueda_sagredov_jeserna/main
*.o
html
latex
*.out
*.pdf
Corte 1/scheduler_sagredov_jeserna/test/fifo.png
Corte 1/scheduler_sagredov_jeserna/main
*.gpi
Corte 1/scheduler_sagredov_jeserna/main
*.gpi
Corte 1/scheduler_sagredov_jeserna/main
Corte 1/lab_sincronizacion_jeserna/philosophers
.gitignore
Corte 1/lab_sincronizacion_jeserna/prodcons
